$color-white: #fff;
$color-blue-light: #0080FF;
$color-blue-bold: #045FB4;
$color-blue-border: #0040FF;
$color-blue-top: #04B4AE;
$color-blue-span: #013ADF;
$color-light-grey: #e1e1e1;
$color-hr: #FA5882;
$color-footer: #0B2F3A;
