<div id="banner">
  <div id="img">
    <%= link_to image_tag("banner.jpg", alt: "Banner") %>
  </div>
  <div class="three">
    <div class="three_img">
      <%= link_to image_tag("three.png", alt: "Tour") %>
      <div class="name_img">
        <p>Tour Hồ Gươm chỉ 550k</p>
      </div>
    </div>
    <div class="three_img">
      <%= link_to image_tag("three.png", alt: "Tour") %>
      <div class="name_img">
        <p>Tour Hồ Gươm chỉ 550k</p>
      </div>
    </div>
    <div class="three_img">
      <%= link_to image_tag("three.png", alt: "Tour") %>
      <div class="name_img">
        <p>Tour Hồ Gươm chỉ 550k</p>
      </div>
    </div>
  </div>
</div>
