<div id="banner">
  <div id="img">
    <%= link_to image_tag("banner.jpg", alt: "Banner") %>
  </div>
  <div class="three">
    <% @location_rand.each do |l| %>
    <div class="three_img col-md-3">
      <%= link_to location_path(l) do %>
        <%= image_tag(l.picture.url, alt: "Tour") %>
      <% end %>
      <div class="name_img">
        <p><%= l.name %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
